html {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #f4f4f4;
  color: black;
}

body.light .image-frame {
  border: 2px solid #ddd;
  background-color: #fff;
}

body.light .modal-content {
  background-color: white;
}

body.dark {
  background-color: #121212;
  color: white;
}

body.dark .image-frame {
  border: 2px solid #444;
  background-color: #333;
}

body.dark .modal-content {
  background-color: #333;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-frame {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

.meme-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-sizing: border-box;
}

.image-caption {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInUp 0.5s forwards;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  button {
    width: 100%;
  }
}